*{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: unset;
}

.page-wrapper{
    width: auto;
    height: 100vh;
}

.left-box{
    background: rgb(33,33,33);
    width: 72px;
    height: 100%;
    float: left;
    position: fixed;
}

.yt-options{
    background-image: url("img/left-box/yt-options.png");
    background-repeat: no-repeat;
    background-size: 37px;
    background-position-y: 11px;
    background-position-x: 17px;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.yt-options:hover{
    background-image: url("img/left-box/yt-options-light.png");
    background-repeat: no-repeat;
    background-size: 47px;
    background-position-y: 3px;
    background-position-x: 12px;
}

.yt-menu{
width: 100%;
height: 296px;
}

.yt-home{
    background-image: url("img/left-box/home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 14px;
    width: 100%;
    height: 74px;
}

.yt-home:hover{
    background: rgb(56,56,56,255);
    background-image: url("img/left-box/home-light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 16.5px;
}

.yt-explore{
    background-image: url("img/left-box/explore.png");
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-position-x: 10px;
    width: 100%;
    height: 74px;
}

.yt-explore:hover{
    background: rgb(56,56,56,255);
    background-image: url("img/left-box/explore-light.png");
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 13px;
}

.yt-subscriptions{
    background-image: url("img/left-box/subscriptions.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1px;
    width: 100%;
    height: 74px;
}

.yt-subscriptions:hover{
    background: rgb(56,56,56,255);
    background-image: url("img/left-box/subscriptions-light.png");
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 0px;
}

.yt-library{
    background-image: url("img/left-box/library.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 74px;
}

.yt-library:hover{
    background: rgb(56,56,56,255);
    background-image: url("img/left-box/library-light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 9px;
}

.main-box{
    background-color: rgb(24,24,24);
    width: 100%;
    height: 100vh;
    float: right;
    overflow: auto;
}

.top-box{
    background-color: rgb(33,33,33);
    float: left;
    width: 100%;
    height: 113px;
    border-bottom: 1px solid rgb(56,56,56,255);
}

.top-upper{
    background-color: rgb(33,33,33);
    width: 100%;
    height: 49.5%;
    border-bottom: 1px solid rgb(56,56,56,255);
    overflow: hidden;
}

.yt-box{
    background-image: url("img/top-box/YouTube.png");
    background-repeat: no-repeat;
    background-position: -5px 14px;
    width: 100px;
    height: 100%;
    margin-left: 72px;
    float: left;
}

.access-box{
    width: 210px;
    height: 100%;
    float: right;
    box-sizing: border-box;
    margin-right: 17px;
}

.profile-box{
    background-image: url("img/top-box/profile.png");
    background-repeat: no-repeat;
    background-position: 6px 8px;
    width: 25%;
    height: 100%;
    float: right;
}

.notification-box{
    background-image: url("img/top-box/notification.png");
    background-repeat: no-repeat;
    background-position: 7px 15px;
    width: 25%;
    height: 100%;
    float: right;
}

.apps-box{
    background-image: url("img/top-box/apps.png");
    background-repeat: no-repeat;
    background-position: 8px 14px;
    width: 25%;
    height: 100%;
    float: right;
}

.create-box{
    background-image: url("img/top-box/create.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 100%;
    float: right;
}

.search-box{
    width: 680px;
    height: 54%;
    margin: auto;
    margin-top: 12px;
    font-weight: 400;
    box-sizing: border-box;
}

.search-type{
    background: rgba(18,18,18,255);
    width: 93.9%;
    height: 100%;
    border: 1px solid rgb(49,49,49);
    border-radius: 1px;
    float: left;

}

.search-text{
    background: rgba(18,18,18,255);
    border: none;
    vertical-align: text-top;
    width: 87%;
    padding: 0.6%;
    padding-left: 2%;
    float: left;
    color: silver;
    font-size: medium;
    font-weight: 500;
}

.search-button{
    background: rgb(49,49,49);
    background-image: url("img/top-box/button.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
    height: 100%;
    width: 64px;
}

.search-voice{
    background-image: url("img/top-box/voice.png");
    background-repeat: no-repeat;
    background-position: 6px -4px;
    width: 5%;
    height: 100%;
    float: right;
}

.category{
    margin-top: 11px;
    margin-left: 72px;
    overflow: hidden;
}

.category ul li{
    background: rgba(55,55,55,255);
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid rgba(68,68,68,255);
    font-size: 91%;
    font-weight: 500;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    color: white;
    margin: 0px 3px;
}

.category ul li:first-child{
    background: white;
    margin-left: -17px;
    color: black !important;
    border: none !important;
    font-weight: normal;
}

.category ul li:first-child:hover{
    background: rgba(144,144,144,255);
}

.category ul li:hover{
    background: rgba(77,77,77,255);
    border: 1px solid rgba(90,90,90,255);
}

.videos-box{
    width: 95%;
    height: 100%;
    float: right;
    overflow: auto;
    padding: 10px;
}

.videos-content-box{
    width: 1236px;
    height: 100%;
    margin: auto ;
    overflow: hidden;
}

.video-box{
    width: 295px;
    height: 255px;
    margin: 10px 0px 38px 14px;
    box-sizing: border-box;
    float: left;
}

.video-1{
    background-image: url("img/video-box/the-richest/the-richest.png");
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.profile-1{
    background-image: url("img/video-box/the-richest/profile.png");
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.discription{
    width: 83.5%;
    float: right;
    color: rgba(161,161,161,255);
}

.discription h4{
    font-size: 91% !important;
    padding-bottom: 5px;
    color: white !important;
    font-weight: 600 !important;
}

.discription p{
    font-size: 90%;
    font-weight: 400;
}

.yt-name:hover{
    color: rgba(236,236,236,255);
}

a{
    color: unset;
}

.video-2{
    background-image: url("img/video-box/boby-duke/boby-duke.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-2:hover{
    background-image: url("img/video-box/boby-duke/boby-duke.gif");
}

.profile-2{
    background-image: url("img/video-box/boby-duke/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-3{
    background-image: url("img/video-box/warframe/warframe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-3:hover{
    background-image: url("img/video-box/warframe/warframe.gif");
}

.profile-3{
    background-image: url("img/video-box/warframe/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-4{
    background-image: url("img/video-box/gameclips/gameclips.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-4:hover{
    background-image: url("img/video-box/gameclips/gameclips.gif");
}

.profile-4{
    background-image: url("img/video-box/gameclips/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-5{
    background-image: url("img/video-box/chocotaco/chacotaco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-5:hover{
    background-image: url("img/video-box/chocotaco/chacotaco.gif");
}

.profile-5{
    background-image: url("img/video-box/chocotaco/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-6{
    background-image: url("img/video-box/viva-la-dirt/viva-la-dirt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-6:hover{
    background-image: url("img/video-box/viva-la-dirt/viva-la-dirt.gif");
}

.profile-6{
    background-image: url("img/video-box/viva-la-dirt/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-7{
    background-image: url("img/video-box/mr-momo/mr-momo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-7:hover{
    background-image: url("img/video-box/mr-momo/mr-momo.gif");
}

.profile-7{
    background-image: url("img/video-box/mr-momo/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}

.video-8{
    background-image: url("img/video-box/corridor/corridor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 165.5px;
    margin-bottom: 10px;
}

.video-8:hover{
    background-image: url("img/video-box/corridor/corridor.gif");
}

.profile-8{
    background-image: url("img/video-box/corridor/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: -1px -1px;
}